__pycache__/
*.pyc
.venv/
*.gguf
.idea/

# Ignore Huggingface caches in all modules
*/models/.cache/

# Ignore LLM binaries
*.gguf

# Ignore Huggingface caches in all modules
*/models/.cache/
# Ignore LLM binaries
*.gguf
