* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

a,
a:visited {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

main {
  width: 80%;
  margin: 0 auto;
}

.top-bar{
  background-color:#749da1;
  padding:10px 0;
  width:100%;
}

nav a,
nav a:visited {
  color:white;
}

body {
  font-family:sans-serif;
  font-size: 20px;
  margin:0;
}

nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  justify-content:center;
  gap:20px;
}

nav a.active {
  background-color: #F5F7F8;
  color: black;
  padding: 5px 10px;
  boarder-radius: 5px;
}